/* Dyanmix Code Test
Authored by: Kyle Sullivan
kyle@kitchensinkmarketing.com */
/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography */
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  color: #6A6A6A;
}

h3 {
  font-size: 40px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  margin-top: 120px;
}

.header-emphasis {
  font-weight: bold;
}

h4 {
  font-size: 16px;
  color: #D29A42;
}

.discovery-container {
  font-size: 14px;
}

/* Main Container */
.main-container {
  background: -moz-linear-gradient(top, rgba(36, 76, 117, 0.8) 0%, #244c75 100%), url("../images/boardroom.jpg") center top no-repeat;
  background: -webkit-linear-gradient(top, rgba(36, 76, 117, 0.8) 0%, #244c75 100%), url("../images/boardroom.jpg") center top no-repeat;
  background: linear-gradient(to bottom, rgba(36, 76, 117, 0.8) 0%, #244c75 100%), url("../images/boardroom.jpg") center top no-repeat;
  background-size: contain;
  min-height: 900px;
}

/* Header Separator */
.header-separator {
  border-bottom: 4px dashed #FFFFFF;
  width: 20%;
  margin: 40px auto;
  position: relative;
}
.header-separator:before, .header-separator:after {
  content: '';
  border-bottom: 4px solid #ffffff;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
}
.header-separator:after {
  left: -100%;
}

/* Timeline Boxes */
.timeline-box {
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 20px 20px 80px;
  float: left;
}
.timeline-box:before, .timeline-box:after {
  content: '';
  position: absolute;
}
.timeline-box:before {
  height: 0;
  width: 0;
  bottom: -35px;
  left: 0;
  border: 0 solid transparent;
  border-right-width: 30px;
  border-top: 35px solid white;
}
.timeline-box:after {
  background: #D29A42;
  height: 100%;
  width: 20px;
  top: 0;
  right: 0;
  text-align: center;
}
.timeline-box:nth-child(even) {
  outline: 1px solid red;
}

.timeline-link {
  display: block;
  height: 8px;
  width: 8px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  right: 7px;
  top: calc(50% - 5px);
  z-index: 1;
}

/* Timeline Bar */
.timeline-bar {
  width: 90%;
  margin: 40px auto;
  height: 4px;
  background: #FFFFFF;
  position: relative;
}

.timeline-event {
  height: 6px;
  width: 6px;
  position: absolute;
  top: -6px;
  background: #D29A42;
  border: 6px solid #FFFFFF;
}

/*# sourceMappingURL=styles.css.map */
