.timeline-box {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 20px 20px 80px;
    float: left;
    &:before, &:after {
        content: '';
        position: absolute;
    }
    &:before {
        height: 0;
        width: 0;
        bottom: -35px;
        left: 0;
        border: 0 solid transparent;
        border-right-width: 30px;
        border-top: 35px solid white;
    }
    &:after {
        background: $secondary;
        height: 100%;
        width: 20px;
        top: 0;
        right: 0;
        text-align: center;
    }
    &:nth-child(even) {
        outline: 1px solid red;
    }
}

.timeline-link {
    display: block;
    height: 8px;
    width: 8px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    right: 7px;
    top: calc(50% - 5px);
    z-index: 1;
}
