body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    -webkit-text-size-adjust:100%;
    color: $text;
    line-height: 1;
}

h3 {
    font-size: 40px;
    font-weight: 300;
    color: $white;
    text-align: center;
    margin-top: 3.5714285714%; // 40/1120
}

.header-emphasis {
    font-weight: bold;
    white-space: nowrap;
    @media #{$phone} {
        white-space: normal;
        &:before {
            display: block;
            content: '';
        }
    }
}

h4 {
    font-size: 16px;
    color: $heading;
    margin-bottom: 12px;
    line-height: 1.2;
}

.discovery-container {
    font-size: 14px;
}
